    <!-- Adding flatmates into the DB -->
    <div class="row mt-4">

        <div class="col-12 col-lg-8 mx-auto my-auto">
            <!-- Text row -->
            <div class="row col-12 justify-content-center">
                <h5>Adding flatmates:</h5>
            </div>
        
            <!-- Form row -->
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto my-auto">
                    <form action="{{ url_for('additems_bp.add_flatmate') }}" method="post">
                        <div class="form-row col-12 d-flex align-items-center justify-content-center">
                            <input type="text" class="form-control col-10 col-lg-8" placeholder="Name of the flatmate" name="name" required>
                            <input type="text" class="form-control col-10 col-lg-8" placeholder="Email of the flatmate" name="email" required>
                            <input type="submit" value="Add!" class="col-10 col-lg-2">
                        </div>
                    </form>
                </div>
            </div>
        
            <!-- Note row -->
            <div class="row justify-content-center">
                <small>(Remember, they don't have to be your friends, just to do the tasks!)</small>
            </div>
        </div>
        

        <!-- Show a table with the last tasks instead of the alert -->
        {% if template_data.rooms|length > 0 %}
        <div class="col-12 col-lg-4 my-auto mx-auto">
            <h6 class="text-center">Last 3 rooms added</h6>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Flatmate:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Displaying only the last 6 flatmates -->
                    {% for flatmate in template_data.flatmates[:12] %}
                        <tr>
                            <td>{{ room.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Will show an alert about no rooms added -->
        {% else %}
        <div class="col-12 col-lg-4">
            <div class="alert alert-info my-auto">
                You have not added any flatmates yet! Please note that probably, <strong>YOU CANNOT DO THIS ALONE!</strong>.
            </div>
        </div>
        {% endif %}

    </div>