.add-room-section {
    position: relative;
    border: 2px solid var(--eggplant);
    border-radius: 10px;
    z-index: 1;
    }
    
.add-room-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../media/img/add_rooms.png');
    background-size: cover;
    background-position: center;
    opacity: 0.25; /* Adjust the opacity here */
    z-index: -1;
}

.add-flatmate-section {
    position: relative;
    border: 2px solid var(--eggplant);
    border-radius: 10px;
    z-index: 1;
    }
    
.add-flatmate-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../media/img/add_flatmates.png');
    background-size: cover;
    background-position: center;
    opacity: 0.25; /* Adjust the opacity here */
    z-index: -1;
}

.add-tasks-section {
    position: relative;
    border: 2px solid var(--eggplant);
    border-radius: 10px;
    z-index: 1;
    }
    
.add-tasks-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../media/img/add_tasks.png');
    background-size: cover;
    background-position: center;
    opacity: 0.25; /* Adjust the opacity here */
    z-index: -1;
}

/* Transition between add tasks and add flatmates */
#main-container {
    position: relative; /* Set the position context for absolute positioning */
    /* Set a fixed height if needed, or let it adapt to the initially visible section */
    height: 500px;
}

/* Make both sections occupy the same space within the container */
#sectionFlatmates, #sectionTasks {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Ensure the section takes up the full width of the container */
}

.custom-fade {
    opacity: 1; 
    transition: opacity 0.5s ease;
    pointer-events: auto; 
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}


