.default-dashboard-button {
    background-color: var(--charcoal);
    color: var(--saffron);
    transition: background-color 0.3s, color 0.3s; /* smooth transition */
    padding: 10px;
    font-weight: bold;
    border:2px dashed var(--charcoal)
  }
  
  .default-dashboard-button:hover {
    background-color: var(--saffron);
    color: var(--charcoal);
  }

  .task-card {
    color: var(--charcoal);
    background-color: var(--saffron);
    border-radius: 8px;
    border: 3px dashed var(--charcoal);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; /* Add this line */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

.task-card:hover {
    background-color: var(--charcoal);
    color: var(--saffron);
}

.task-card:hover .complete-button {
    background-color: var(--saffron);
    color: var(--charcoal);
}

.complete-button {
    background-color: var(--charcoal);
    color: var(--saffron);
    transition: background-color 0.3s, color 0.3s; /* smooth transition */
    padding: 10px;
    font-weight: bold;
    border: 2px double var(--charcoal);
}

.dashboard-action-button {
    background-color: var(--saffron);
    color: var(--charcoal);
    transition: background-color 0.3s, color 0.3s; /* smooth transition */
    padding: 10px;
    font-weight: bold;
    border: 2px double var(--charcoal);
}

.task-card:hover .dashboard-action-button {
  background-color: var(--sandy-brown);
  color: var(--charcoal);
}

#notasks {
  border: 3px solid var(--charcoal)
}

.dashboard-borders {
  border: 3px solid var(--charcoal)
}
