

#google-button {
  font-size: 1.2rem;
  font-weight: 700;
  border: 3px rgb(15 157 88) solid;
  border-radius: 8px;
  color: #0f9d58;
  /* Initial Google green color */
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}


#google-button:hover {
  background-color: #0f9d58;
  /* Google green color on hover */
  color: white;
  
}

#google-button i.fa-google {
  transition: color 0.3s ease;
}

#google-button:hover i.fa-google {
  color: white;
}

#facebook-button {
  font-size: 1.2rem;
  font-weight: 700;
  border: 3px rgb(66 103 178) solid;
  border-radius: 8px;
  color: #4267B2;
  /* Initial Google green color */
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}


#facebook-button:hover {
  background-color: #4267B2;
  /* Google green color on hover */
  color: white;
}

#facebook-button i.fa-google {
  transition: color 0.3s ease;
}

#facebook-button:hover i.fa-google {
  color: white;
}

#youtube-button {
  font-size: 1.2rem;
  font-weight: 700;
  border: 3px #DB4437 solid;
  border-radius: 8px;
  color: #DB4437;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}


#youtube-button:hover {
  background-color: #DB4437;
  color: white;
}

#youtube-button i.fa-google {
  transition: color 0.3s ease;
}

#youtube-button:hover i.fa-google {
  color: white;
}

/* Apply background and text color to the modal content */
.modal-content {
  background-color: var(--charcoal);
  color: var(--saffron);
}

/* Strong tag within the modal title for emphasis */
.modal-title strong {
  font-weight: bold;
}

/* Style for the button */
.btn-secondary {
  background-color: var(--saffron);
  border-color: var(--saffron);
  color: var(--charcoal);
}

/* Hover effect for the button */
.btn-secondary:hover {
  background-color: var(--charcoal);
  border-color: var(--charcoal);
  color: var(--saffron);
}

.custom-box {
  position: relative;
  border: 3px var(--charcoal) dashed;
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.custom-box img {
  position: absolute;
  right: 5%;
  width: 100px;
  height: 100px;
  z-index: 1; /* Ensure image is above the box content but below the number */
}

/* Smaller font size for small devices */
@media (max-width: 576px) {
  .custom-box {
      font-size: 0.8rem;
  }
}

/* Larger font size for large devices */
@media (min-width: 992px) {
  .custom-box {
      font-size: 0.9rem;
  }
}