:root {
    --primary-color: rgba(155, 0, 80, 1);
    --secondary-color: rgba(23, 162, 184, 1);
    --hunyadi-yellow: hsla(35, 93%, 70%, 1);
    --dark-purple: hsla(315, 27%, 18%, 1);
    --eggplant: hsla(344, 29%, 31%, 1);
    --bittersweet-shimmer: hsla(4, 52%, 52%, 1);
    --prussian-blue: hsla(199, 79%, 17%, 1);
    --jasper: hsla(8, 73%, 58%, 1);

    --charcoal: hsla(197, 37%, 24%, 1);
    --persian-green: hsla(173, 58%, 39%, 1);
    --saffron: hsla(43, 74%, 66%, 1);
    --sandy-brown: hsla(27, 87%, 67%, 1);
    --burnt-sienna: hsla(12, 76%, 61%, 1);


  }