{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add new task {% endblock %}</h1>


    <h2>Add Task</h2>
    
    <form action="{{ url_for('additems_bp.add_task') }}" method="post">

        <label for="description">Task Description:</label><br>
        <textarea name="description" required></textarea><br><br>

        <label for="points">Points allocated:</label><br>
        <input type="number" name="points" required /><br><br>

        <label for="room">Task Description:</label><br>
        <input type="text" name="room" required /><br><br>

        

        <input type="submit" value="Add Task">
    </form>



{% endblock %}