{% extends "base.html" %}
{% block title %}CleanDivide | Admin{% endblock %}

{% block content %}

<div class="mt-5 container">

    <h1 class="mb-4"><strong>Total Completion Rates</strong></h1>
    <p>This is an overview of how many of the assigned tasks have been completed, up to today.</p>

    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Flatmate</th>
                <th scope="col">Completion Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for flatmate_email, completion_rate in completion_rates.items() %}
            <tr>
                <td>{{ flatmate_email }}</td>
                <td>{{ completion_rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    <h1 class="mb-4"><strong>Today's Tasks</strong></h1>
    <p>The table below shows if the tasks for today have been completed</p>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Flatmate Email</th>
                <th scope="col">Task Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in today_tasks %}
            <tr>
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
                <td>{{ task[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    <h1 class="mb-4"><strong>Task points assigned to Flatmates</strong></h1>
    <p>Below are the task points assigned to each flatmate</p>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Flatmate</th>
                <th scope="col">Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for flatmate in flatmate_points_results %}
            <tr>
                <td>{{ flatmate.flatmate_email }}</td>
                <td>{{ flatmate.total_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    <h1 class="mt-5"><strong>Update Power Costs for your home</strong></h1>
    <p> Every task can be either randomly reassigned, skipped or procrastinated by any user that has
        gathered the amount of points required. From here you can decide how much these actions cost.
    </p>

    <form action="{{ url_for('admin_bp.update_power_costs_post') }}" method="post">
        <input type="hidden" name="user_id" value="{{ user_id }}">

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="reassign">Reassign task to random flatmate:</label>
                <input type="number" min="20" max="2000" name="reassign" class="form-control"
                    value="{{ power_costs }}" placeholder="{{ power_costs['reassign'] }} (min: 20, max: 2000)">
            </div>
            <div class="col-md-6 form-group">
                <label for="skip">Skip the task entirely:</label>
                <input type="number" min="20" max="2000" name="skip" class="form-control"
                    value="{{ power_costs }}" placeholder="{{ power_costs['skip'] }} (min: 20, max: 2000)">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="procrastinate">Procrastinate (leave task for tomorrow):</label>
                <input type="number" min="20" max="2000" name="procrastinate" class="form-control"
                    value="{{'procrastinate'}}" placeholder="{{ power_costs['procrastinate'] }} (min: 20, max: 2000)">
            </div>
            <!-- Placeholder for alignment -->
            <div class="col-md-6 form-group"></div>
        </div>
        <hr>

        <!-- Title for the reward thresholds -->
        <h2 class="mt-5">Reward Thresholds</h2>
        <p>Every task is worth a number of points, the difficulty times frequency. A certain amount of points from 
            this value is returned to the user as <i class="fa-solid fa-money-bill"></i> <strong>DustDollars</strong>. 
            This value is a random value between <strong>(Lower threshold x Task value) and (Higher threshold x Task value)</strong>. 
            From here, you can assign these lower and higher threshold.
        </p>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="lower_reward_threshold">Lower Reward Threshold:</label>
                <input type="number" min="0.05" max="2" step="0.01" name="lower_reward_threshold" class="form-control"
                    value="{{'lower_reward_threshold'}}" placeholder="x {{ power_costs['lower_reward_threshold'] }} (min: 0.05, max: 2)">
            </div>
            <div class="col-md-6 form-group">
                <label for="higher_reward_threshold">Higher Reward Threshold:</label>
                <input type="number" min="0.5" max="5" step="0.01" name="higher_reward_threshold" class="form-control"
                    value="{{'higher_reward_threshold'}}" placeholder="x {{ power_costs['higher_reward_threshold'] }} (min: 0.5, max: 5)">
            </div>
        </div>

        <button type="submit" class="btn default-dashboard-button">Update</button>
    </form>
</div>


{% endblock %}