<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook login -->
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1022681442309327',
            cookie     : true,
            xfbml      : true,
            version    : '{api-version}'
          });
            
          FB.AppEvents.logPageView();   
            
        };
      
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    {% block custom_css %} {% endblock %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400;9..40,500;9..40,700;9..40,1000&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Will look inside the static folder, for the static file -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="">


    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <div class="d-flex flex-column">
                <a class="navbar-brand font-weight-bold mb-0 pb-0" href="{{ url_for('main') }}">CleanDivide</a>
                {% if user_id %}
                <small class="text-white mt-0 pt-0">(Signed in as {{ user_id }}, {{ is_table_owner }} <a href="/logout">Logout</a>)</small>
                {% else %}
                <small class="text-white mt-0 pt-0">(You are not logged in but you can do it <a href="/login">here</a>)</small>
                {% endif %}
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Added ml-auto to right-align the items -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('about')}}">About</a>
                </li>

                <!-- Conditional to show login or logout, depending if the user is logged in -->
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/viewdata">View and Delete Data</a>
                </li>
                    {% if is_table_owner %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for("additems_bp.add_items")}}">Add items</a>
                    </li>
                    {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/dashboard">Dashboard</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Login</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated and session["is_admin"] %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">Database</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 80px"> </div>

    <!-- Container for flash message -->
    <div class="container mt-2">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="container alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Optional JavaScript -->
    {% block scripts %}
    {% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>