<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- It feels just like random sh*t know -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/variables.css') }}">



    {% block custom_css %} {% endblock %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Quicksand:wght@500;600&family=Raleway:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Will look inside the static folder, for the static file -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="">
    <div class="container p-4 p-md-1 justify-content-center align-items-center">

        <nav class="navbar navbar-expand-md fixed-top py-2">
            <div class="container">
                <!-- Logo Image -->
                <a href="{{ url_for('main') }}">
                    <img src="../static/media/img/bucket_logo.png" alt="Logo" class="navbar-logo">
                </a>
                <div class="d-flex flex-column">
                    <a class="navbar-brand font-weight-bold mb-0 pb-0" href="{{ url_for('main') }}">DivideNDust</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse centered-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto my-auto">
                        <!-- Conditional to show login or logout, depending if the user is logged in -->
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('profile_bp.user_profile', user_id=user_id) }}">My
                                Profile</a>
                        </li>
                        {% if is_table_owner %}
                        <li class="nav-item">
                            <a class="nav-link " href="/viewdata">View and Delete Data</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        
        <div style="height: 70px"> </div>

        <div class="container py-0 my-0" id="signedAs">
            {% if current_user.is_authenticated %}
            <small class="">(Signed in as <strong>{{ user_id }}</strong>, {{ table_owner_title }}) <a
                    href="/logout">Logout</a></small>
            {% else %}
            <small class="">(You are not logged in)</small>
            {% endif %}
        </div>


        <div class="container py-0 my-0" id="signedAs">
            <small class="">Bugs? Issues? Please let me know:<br>
                <a href="https://wa.me/353861678028" target="_blank" class="contact-icon"><i
                        class="fa-brands fa-square-whatsapp"></i></a> |
                <a href="mailto:admin@dividendust.com" target="_blank" class="contact-icon"><i
                        class="fa-solid fa-envelope"></i></a> |
                <a href="https://www.facebook.com/dividendust/" target="_blank" class="contact-icon"><i
                        class="fa-brands fa-square-facebook"></i></a>
            </small>
        </div>


        <!-- Container for flash message -->
        <div class="container flash-container col-12 col-lg-6">

            <div class="row mx-auto">
                {% with messages = get_flashed_messages(with_categories=true) %}

                {% if messages %}
                {% for category, message in messages %}
                <div class="container flash-message alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>

        {% block content %}
        {% endblock %}


    </div>

    <div style="height: 180px" class=""></div>
    <div style="height: 180px" class="d-block d-md-none"></div> <!-- Second div for mobile -->
    <footer class="footer mt-4 py-2 align-items-center">
        <div class="container">
            <div class="row  align-items-center">
                <!-- Left Side -->
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <small>
                        If you appreciate the effort and wish to support it, consider
                        <a href="https://www.buymeacoffee.com/victoriancodeminer" target="_blank"
                            rel="noopener noreferrer"><strong>buying me a coffee.</strong></a>
                        {% if current_user.is_authenticated %}
                        Or purchasing the €3.99 <a
                            href="{{ url_for('profile_bp.user_profile', user_id=user_id)}}"><strong>premium
                                option</strong></a>!
                        {% endif %}
                    </small>
                </div>

                <!-- Right Side - Social Media Links -->
                <div
                    class="col-12 col-md-6 d-flex my-auto align-items-center justify-content-center justify-content-md-end mt-2 mt-md-auto">
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/dangocan/" target="_blank" rel="noopener noreferrer"
                            class="mx-2">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/dividendust/" target="_blank" rel="noopener noreferrer"
                            class="mx-2">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/gocan_dan" target="_blank" rel="noopener noreferrer" class="mx-2">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://github.com/DanMGocan" target="_blank" rel="noopener noreferrer" class="mx-2">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </footer>




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Custom JS script -->
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>

    <!-- Optional JavaScript -->
    {% block scripts %}
    {% endblock %}
</body>

</html>