<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/variables.css') }}">
    {% block custom_css %} {% endblock %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Quicksand:wght@500;600&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Will look inside the static folder, for the static file -->
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <div class="d-flex flex-column">
                <a class="navbar-brand font-weight-bold mb-0 pb-0" href="{{ url_for('main') }}">DivideNDust</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Added ml-auto to right-align the items -->
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('about')}}">About</a>
                </li>

                <!-- Conditional to show login or logout, depending if the user is logged in -->
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('profile_bp.user_profile', user_id=user_id) }}">My Profile</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link text-white" href="/viewdata">View and Delete Data</a>
                </li>
                    {% if is_table_owner %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for("additems_bp.add_items")}}">Add items</a>
                    </li>
                    {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/dashboard">Dashboard</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated and is_table_owner %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/admin">House statistics</a>
                </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 60px"> </div>

    <div class="container py-0 my-0" id="signedAs">
        {% if current_user.is_authenticated %}
        <small class="">(Signed in as {{ user_id }}, {{ table_owner_title }}) <a href="/logout">Logout</a></small>
        {% else %}
        <small class="">(You are not logged in)</small>
        {% endif %}
    </div>


    <!-- Container for flash message -->
    <div class="container mt-2 flash-container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="container flash-message alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <div style="height: 180px" class="py-5"> </div>
    <footer class="footer mt-4 py-2">
        <a href="#">Confidentiality and privacy |</a>
        <a href="#">Terms of use</a>
    </footer>
    
    

    <!-- Optional JavaScript -->
    {% block scripts %}
    {% endblock %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- Custom JS script -->
    <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>

</body>

</html>