{% extends 'base.html' %}
{% block title %}CleanDivide{% endblock %}
{%block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboard.css') }}">
{% endblock %}

{% block content %}

{% if total_tasks == 0 %}
<h3 class="mt-5">There is no calendar created yet. This usually means that you can continue procrastinating.</h3>
<form action="{{ url_for('helpers_bp.become_house_master') }}" method="post" class="mx-auto mt-4">
    <input type="submit" value="... Or, become the House Master" class="btn default-dashboard-button w-50" />
</form>

{% else %}

<div class="row d-flex justify-content-end my-5">
    <a href="{{ url_for('dashboard_bp.dashboard_monthly') }}" method="post" class="btn default-dashboard-button">
        See next 30 days
    </a>
    {% if is_table_owner %}
    <a href="{{ url_for('additems_bp.add_items') }}" class="btn default-dashboard-button mx-2">
        Generate a new table
    </a>
    {% endif %}
</div>


<!-- Your Own Tasks Today -->
<div class="container mt-5">
    <h1 class="text-center mb-0">Your Tasks for Today</h1>
    <div class="text-center">
        <small class="d-inline-block mx-auto mt-0"><strong>Today is {{ today_date }} and the table owner is
                {{ table_owner }}</strong></small>
    </div>
    {% if own_tasks_today|length < 1 %}
    <p>Free as a bird! </p>
    {% else %}


    <div class="container mt-5">
        <div class="row">
            {% for task in own_tasks_today %}
            <div class="col-md-4 mb-4">
                <div class="card task-card">
                    <div class="card-header">
                        <strong>Task to complete:</strong>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ task['task_description'] }}</h4>
                        <p class="card-text">
                            Points: {{ task['task_points'] }}<br>
                            Frequency: {{ task['task_frequency'] }}
                        </p>
                    </div>
                    <div class="card-footer">
                        {% if task['task_complete'] == 1 %}
                        <span class="badge badge-success">Complete!</span>
                        {% else %}
                        <form action="{{ url_for('helpers_bp.mark_complete') }}" method="post" class="mb-2">
                            <button class="btn complete-button btn-sm btn-block" type="submit" name="id"
                                value="{{ task['id'] }}">
                                Complete!
                                <small class="d-block"><strong>(
                                        +{{ (task["task_points"] * 0.25) | floor }}...{{ (task["task_points"] * 0.75) | floor }}
                                        points)</strong></small>
                            </button>
                        </form>
                        <form action="{{ url_for('helpers_bp.reassign_task') }}" method="post" class="mb-2">
                            <button class="btn btn-danger btn-sm btn-block" type="submit" name="id"
                                value="{{ task['id'] }}">Randomly reassign<br><small><strong>(-
                                        {{ power_costs["reassign"] }} points)</strong></small></button>
                        </form>
                        <form action="{{ url_for('helpers_bp.skip_task') }}" method="post" class="mb-2">
                            <button class="btn btn-danger btn-sm btn-block" type="submit" name="id"
                                value="{{ task['id'] }}">Just not do<br><small><strong>(- {{ power_costs["skip"] }}
                                        points)</strong></small></button>
                        </form>
                        <form action="{{ url_for('helpers_bp.procrastinate_task') }}" method="post" class="mb-2">
                            <button class="btn btn-info btn-sm btn-block" type="submit" name="id"
                                value="{{ task['id'] }}">Leave it for tomorrow<br><small><strong>(-
                                        {{ power_costs["procrastinate"] }} points)</strong></small></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>




    <!-- Flatmates' Tasks Today -->
    <h1>Flatmates' Tasks for Today</h1>
    <table>
        <tr>
            <th>Task owner</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
        {% for task in flatmates_tasks_today %}
        <tr>
            <td>{{ task['task_owner'] }}</td>
            <td>{{ task['task_description'] }}</td>
            <td>
                {% if task['task_complete'] == 1 %}
                Complete!
                {% else %}
                Incomplete!
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Your Own Tasks for Tomorrow -->
    <h1>Your Tasks for Tomorrow</h1>
    <table>
        <tr>
            <th>Description</th>
            <th>Points</th>
            <th>Frequency</th>
        </tr>
        {% for task in own_tasks_tomorrow %}
        <tr>
            <td>{{ task['task_description'] }}</td>
            <td>{{ task['task_points'] }}</td>
            <td>{{ task['task_frequency'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if is_table_owner == 1 %}
    <h2>Points Assigned to Flatmates</h2>
    <h3>Flatmate Points</h3>
    <table>
        <thead>
            <tr>
                <th>Flatmate ID</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for flatmate in flatmates_points %}
            <tr>
                <td>{{ flatmate.task_owner }}</td>
                <td>{{ flatmate.total_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    {% endif %}
    {% endblock %}



    {%block scripts %}
    <!-- <script src="{{ url_for('static', filename= 'js/datamanipulation.js') }}"></script> -->
    <script src="{{ url_for('static', filename= 'js/dashboard.js') }}"></script>

    <!-- JS variables -->
    <script type="text/javascript">
        // Define a JavaScript variable that holds the URL
    </script>



    {% endblock %}