{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">{% block title %} Welcome to CleanDivide, {{ template_data.user_email }} {% endblock %}</h1>

    <div class="row mb-3">
        <div class="col">
            <form action="/populate_db" method="post">
                <button type="submit" class="btn btn-primary">Populate the Database</button>
            </form>
            <form action="/clear_db" method="post">
                <button type="submit" class="btn btn-danger mt-2">Delete Everything</button>
            </form>
        </div>
    </div>

    {% if template_data.rooms|length <= 0 %}
        <div class="alert alert-info">
            You have not added any rooms yet! Before you can add any tasks or flatmates, please add some rooms.
        </div>
        <form action="{{ url_for('additems_bp.add_room') }}" method="post">
    
            <label for="name">Name of the room:</label><br>
            <input type="text" name="name" required /><br><br>
    
            <label for="points">Modifier value:</label><br>
            <input type="number" name="modifier" required /><br><br>
    
            <input type="submit" value="Add Room">
        </form>
    {% endif %}

    {% if template_data.flatmates|length <= 0 and template_data.rooms|length >= 1 %}
        <div class="alert alert-info">
            Now that you have rooms, it's time to add some flatmates! You can't manage tasks alone.
        </div>

        <form action="{{ url_for('additems_bp.add_flatmate') }}" method="post">
    
            <label for="name">Name of the flatmate:</label><br>
            <input type="text" name="name" required /><br><br>
            <input type="submit" value="Add room">
        </form>
    {% endif %}

    {% if template_data.rooms|length > 0 and template_data.flatmates|length > 0 %}
        <div class="alert alert-success">
            You're all set! Feel free to add tasks now.
        </div>
        <form action="{{ url_for('additems_bp.add_task') }}" method="post">
    
            <label for="description">Task Description:</label><br>
            <textarea name="description" required></textarea><br><br>
    
            <label for="points">Points allocated:</label><br>
            <input type="number" name="points" required /><br><br>
    
            <label for="room">Room:</label><br>
            <input type="text" name="room" required /><br><br>
    
            <label for="frequency">Choose frequency of the task:</label>
            <input class="form-control" list="frequencies" id="frequency" name="frequency">
                <datalist id="frequencies">
                    <option value="Daily">
                    <option value="Twice weekly">
                    <option value="Weekly">
                    <option value="Twice monthly">
                    <option value="Monthly">
                    <option value="Yearly">
                </datalist>
    
            <input type="submit" value="Add Task">
        </form>
    {% endif %}

    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-success">Add Task</a>
            <a href="#" class="btn btn-primary mt-2">Generate Schedule</a>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename= 'js/main.js') }}"></script>
{% endblock %}
