{% extends 'base.html' %}

{% block content %}
    <table style="width:100%">
        <thead>
            <tr> 
                <th>Task</th>
                <th>Date</th>
                <th>Owner</th>
                <th>Checkbox</th>
            </tr>
        </thead>
        <tbody>
            {% for day, owners in calendar.items() %}
                <tr style="height: 20px;"> <!-- Adding extra space between different dates -->
                    <td colspan="4"></td>
                </tr>
                {% for owner, tasks in owners.items() %}
                    <tr>
                        <td colspan="4" style="text-align:center; background-color:lightgray;">
                            {{ owner }}'s Tasks on {{ day }}
                        </td>
                    </tr>
                    {% for task_data in tasks %}
                        <tr>
                            <td>{{ task_data['task'] }}</td>
                            <td style="text-align: center;">{{ day }}</td>
                            <td>{{ task_data['owner'] }}</td>
                            <td style="text-align: center;">
                                <input type="checkbox">
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
