{% extends 'base.html' %}

{% block content %}
    <table style="width:100%">
        <thead>
            <tr style="background-color: #4CAF50;">
                <th>Task</th>
                <th style="text-align: center;">Date</th>
                <th style="text-align: center;">Checkbox</th>
            </tr>
        </thead>
        <tbody>
            {% for day, owners in calendar.items() %}
                <tr style="height: 20px;">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center; 
                        {% if loop.index is odd %}background-color:#f2f2f2{% else %}background-color:#e6e6e6{% endif %};">
                        {{ day }}
                    </td>
                </tr>
                {% for owner, tasks in owners.items() %}
                    {% for task_data in tasks %}
                        <tr>
                            <td>{{ task_data['task'] }}</td>
                            <td style="text-align: center;">{{ day }}</td>
                            <td style="text-align: center;">
                                <input type="checkbox">
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
