{% extends 'base.html' %}

{% block content %}
{%block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">

{% endblock %}
<div class="container">

<div class="row col-12 d-flex flex-column justify-content-center align-items-center" id="index-title-section">
    <h1 class="text-center mt-5 mb-0 col-12">Welcome to <strong>DivideNDust</strong></h1>
    <small class="mt-0 pt-0 mb-5">Where chores meet red tape!</small>

    <p class="col-md-8 text-center mt-0 pt-0">
      DivideNDust can help you easily divide the cleaning tasks in your home
        and keep everyone accountable that the work gets done. Easily add your tasks, invite 
        your house colleagues and generate a 30 days cleaning schedule. Log in daily to mark 
        your tasks as complete. Win <strong>points</strong> every 
        time you complete a task and use those points creatively (mainly pass your tasks to 
        someone else). Cleaning is never fun, but having an app about it, could be.
        <br>

</div>
<br>

<div class="row col-12 d-flex justify-content-center align-items-center">
  
  <a href="/login" class="btn mx-2 my-2 my-auto-lg" id="google-button">
    <p class="my-auto"><i class="fa-brands fa-google fa-lg"></i> Continue with <strong>Google</strong></p>
  </a>
  
  <a href="/login/facebook" class="btn mx-2" id="facebook-button">
    <p class="my-auto"><i class="fa-brands fa-facebook fa-lg"></i> Continue with <strong>Facebook</strong></p> 
  </a>
</div>

    
    <hr>
    <div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <h1 class="mb-0 py-0 col-12 text-center howitworks">How it works?</h1>
            <small class="mt-0 py-0 col-12 text-center">Assuming it does...</small>  
        </div>    
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="mt-4 mt-md-1 col-md-4">
              <div class="custom-box" id="box1">
                <img src='../static/media/img/vaccum.png' class="my-auto" alt='Image 1'>

                <div class="number mx-auto my-auto">1.</div>
                <div class="hidden-text">
                  <p class="p-3 my-auto">First, login. If you have received an e-mail invitaiton, you should already be part of a house
                  and maybe even have a task assigned. If not, you have the option to become a <strong>House Master</strong> and create 
                  a cleaning schedule yourself.</p>
                </div>
              </div>
            </div>
            <div class="mt-4 mt-md-1 col-md-4">
              <div class="custom-box" id="box2">
                <img src='../static/media/img/bucket.png' class="my-auto" alt='Image 1'>

                <div class="number mx-auto my-auto">2.</div>
                <div class="hidden-text">
                  <p class="p-3 my-auto">Start adding tasks that need done and invite your flat mates. You assign each task a difficulty, 
                  from 1 to 20 and based on this, the "algorithm" divides all that tasks between flat mates. You can create a cleaning 
                  schedule for the next 30 days.</p>
                </div>
              </div>
            </div>
            <div class="mt-4 mt-md-1 col-md-4">
              <div class="custom-box" id="box3">
                <img src='../static/media/img/cloth.png' class="my-auto" alt='Image 1'>

                <div class="number mx-auto my-auto">3.</div>
                <div class="hidden-text">
                  <p class="p-3 my-auto">Login daily to mark your tasks as complete and win points that you can then use to pass these 
                  cleaning tasks to someone else, skip them or just procrastinate (as usual) and then feel bad about yourself.</p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="row col-12 d-flex justify-content-center align-items-center mt-5 ">
      <blockquote cite="Human Person" class=" blockquote col-md-6">
        <p>It used to take us 8, 9 hours to get our apartment clean. But now, with the admin work, 
        and the bugs and the database errors, we are already up at 12 hours. What can I say? Amazing app. </p>
        <footer class="blockquote-footer">John Smith McHuman Person, owner of own home</footer>
      </blockquote>
    </div>
    </div>

    <hr>

    <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-5" id="index-contact-section">
        <p class="col-md-6 text-center mt-0 pt-0">This is a passion project of mine, as I am trying
            to build a portfolio, combining different libraries and approaches. If you want to connect, have a chat or, if you find this
            application useful and want to buy me a coffe, please find me here: 
        </p></div>

<!-- Container for the buttons -->
<div class="container mt-3 d-flex justify-content-center my-5">
    <!-- GitHub Button -->
    <a href="https://github.com/DanMGocan" target="_blank" class="btn btn-dark mx-2">
      <i class="fab fa-github"></i> GitHub
    </a>
  
    <!-- LinkedIn Button -->
    <a href="https://www.linkedin.com/in/dangocan/" target="_blank" class="btn btn-primary mx-2" id="linkedin-button">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
  
    <!-- Email Button -->
    <a href="mailto:gocandan@gmail.com" class="btn btn-success mx-2">
        <i class="fa-solid fa-square-envelope"></i> Email
    </a>
  
    <!-- Donations Button -->
    <a href="https://ko-fi.com/jspleb" target="_blank" class="btn btn-danger mx-2">
        <i class="fa-solid fa-mug-saucer"></i> Buy me a coffee!
    </a>
</div>


  

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% endblock %}

