{% extends 'base.html' %}
{% block title %}Profile | {{ user_id }}{% endblock %}
{%block custom_css %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/profile.css') }}">
<script src="{{ url_for('static', filename= 'js/stripe_logic.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center flex-wrap">
        <div class="card task-card my-4 mx-3 col-12 col-md-6 col-lg-4 px-0 pt-3">
            <!-- Set max-width to make card narrower -->
            <div class="card-header profile-card-header text-center mx-0 px-0">
                <h4 class="card-title my-auto ">{{ user['username'] }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Member since:</strong> {{ (user['first_login']) }}
                    <hr>
                    <strong><i class="fa-solid fa-money-bill"></i> Dust Dollars</strong> {{ user['points'] }}
                    <hr>
                    <strong>Times Logged In:</strong> {{ user['times_logged'] }}
                    <hr>
                    <strong>Total Active Tasks:</strong> {{ total_tasks }}
                    <hr>
                    <strong>Completed Tasks:</strong> {{ completed_tasks }}
                </p>
                <hr>
                
                {% if premium_user == 0 %}
                <form action="{{ url_for('create_checkout_session') }}" method="post" class="mx-auto mt-4 text-center">
                    <input type="submit" value="Become Premium User" class="btn default-dashboard-button w-33 mx-auto d-block" id="premiumBtn" />
                    <div class="text-center">
                        <small>No subscriptions, a one-time payment of €3.99</small>
                    </div>
                </form>
            
                {% else %}
                <form action="{{ url_for('create_checkout_session') }}" method="post" class="mx-auto mt-4">
                    <input type="submit" value="Already a premium user!" class="btn default-dashboard-button w-33 mx-auto d-block" id="premiumBtn" disabled />
                </form>
                {% endif %}
                

            </div>
        </div>

        <div class="card task-card my-4 mx-3 col-12 col-md-6 col-lg-4 px-0 pt-3">
            <div class="card-header profile-card-header text-center mx-0 px-0">
                <h4 class="card-title my-auto">Titles and awards</h4>
                <small><strong>ATTENTION: These are worthless in real life</strong></small>
            </div>
            <div class="card-body my-auto">
                <div class="row justify-content-center align-items-center">
                    {% for key, value in awards.items() %}
                        <div class="m-2">
                            {% if value %}
                                <div class="award-box-active text-center" data-tooltip="{{ key.replace('_', ' ').capitalize() }}">
                                    <i class="fa-solid fa-trophy award-active"></i>
                                </div>
                                {% else %}
                                <div class="award-box-inactive text-center" data-tooltip="{{ key.replace('_', ' ').capitalize() }}">
                                    <i class="fa-solid fa-trophy award-inactive"></i>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <small class="text-center my-auto mx-auto px-1 pb-3">Some awards are given for the length of service while others, can be randomly won every time you complete a task.</small>

        </div>
    </div>
    <hr class="my-5">

    
    
    

    <div class="row col-12 d-flex justify-content-center align-items-center mt-5 profile-quote">
        <blockquote cite="Human Person" class=" blockquote col-md-6">
            <p>He who maintains his abode in a state of harmonious order, shall find that the muses of clarity 
                and wit are his most frequent guests. Whereas he who dwells amidst chaos, shall find naught 
                but the specter of confusion lurking in every shadow. Keep your house as your browser history.</p>
            <footer class="blockquote-footer">Confucius the Tidy, 6th century BC</footer>
        </blockquote>
    </div>

{%block scripts %}

<!-- JS variables -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/profile.js') }}"></script>
{% endblock %}

{% endblock%}