{%extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <form action="/populate_db" method="post">
            <button type="submit" class="btn btn-primary">Populate the Database</button>
        </form>
        <form action="/clear_db" method="post">
            <button type="submit" class="btn btn-danger mt-2">Delete Everything</button>
        </form>
    </div>
</div>

<h1>Rooms</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Modifier</th>
    </tr>
    {% for room in rooms %}
    <tr>
        <td>{{ room.id }}</td>
        <td>{{ room.user_id }}</td>
        <td>{{ room.name }}</td>
        <td>{{ room.modifier }}</td>
        <td>
            <form class="delete-form" action="{{ url_for('helpers_bp.delete_entry') }}" method="post">
                <input type="hidden" name="table_name" value="rooms">
                <input type="hidden" name="id" value="{{ room.id }}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    {% endfor %}
</table>

<h1>Tasks</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Description</th>
        <th>Points</th>
        <th>Room</th>
        <th>Frequency</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.user_id }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.points }}</td>
        <td>{{ task.room }}</td>
        <td>{{ task.frequency }}</td>
        <td>
            <form class="delete-form" action="{{ url_for('helpers_bp.delete_entry') }}" method="post">
                <input type="hidden" name="table_name" value="tasks">
                <input type="hidden" name="id" value="{{ task.id }}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    {% endfor %}
</table>

<h1>Flatmates</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Name</th>
        <th>Modifier</th>
    </tr>
    {% for flatmate in flatmates %}
    <tr>
        <td>{{ flatmate.id }}</td>
        <td>{{ flatmate.user_id }}</td>
        <td>{{ flatmate.name }}</td>
        <td>{{ flatmate.modifier }}</td>
        <td>
            <form class="delete-form"  action="{{ url_for('helpers_bp.delete_entry') }}" method="post">
                <input type="hidden" name="table_name" value="flatmates">
                <input type="hidden" name="id" value="{{ flatmate.id }}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    {% endfor %}
</table>

{% block scripts %}
<!-- <script src="{{ url_for('static', filename= 'js/datamanipulation.js') }}"></script> -->
{% endblock %}
{% endblock %}
